<?php ?>

<h2>Add Article</h2>
<div class="container">
    <form  action="" method="post">
        <label>Titile</label>
        <input type="text" required name="title">
        <label>Content</label>
        <textarea required name="content"></textarea>
        <label>Image</label><br>
        <input type="file" name="image">
        <input type="submit" class="action subscribe primary sr-only" style="float: right;" value="Add New" name="add_article">
    </form>
</div>
