<?php
/**
 * @var /SM/Article/Block/AllArticle $block
 */
$base_url = $this->getBaseUrl();
?>

    <b><a href="<?= $base_url ?>article/index/addarticle" class="btn">Add new article</a></b>

    <?php
    foreach (($block->getArticlesCollection()) as $article) { ?>
    <section class="nhandinh">
        <article class="small">
            <a href="<?= $base_url ?>article/index/detail?id=<?= $article['article_id'] ?>">
                <img src="<?php
                $image = $article['image'];
                echo $this->getViewFileUrl("SM_Article::images/$image");
                ?> "/></a>
            <div class="tieude"><a href="<?= $base_url ?>article/index/detail?id=<?= $article['article_id'] ?>">
                    <?= $article['title'] ?>
                </a> </div>
            <div class="date"><?= $article['created_at'] ?> AM</div>
            <p> <?= $article['content'] ?></p>
        </article>
    </section>
    <?php } ?>

<?php if ($block->getPagerHtml()): ?>
    <div style="margin-top: 20px; display: inline; text-align: center;"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>