<?php
/**
 * @var /SM/Article/Block/Detail $block
 */
$detail = $block->getArticleDetail();
$detail = $detail[0];
?>

<?php if (isset($detail)) { ?>
    <div class="container">
        <h1><?= $detail['title'] ?></h1>
        <span class="article-date"><?= $detail['created_at'] ?></span>
        <h4><p>
                <?= $detail['title'] ?>
            </p></h4>
        <img src="<?php
        $image = $detail['image'];
        echo $this->getViewFileUrl("SM_Article::images/$image");
        ?> "/>
        <p>
            <?= $detail['content'] ?>
        </p>
    </div>
<?php }?>


