@color: #ddcd6a;
@boder-top: solid 1px #e1e1e1;
@boder-bottom: solid 5px #ccc;

article {
  overflow: hidden;
  padding-bottom: 20px;
  p {
    font-size: 15px;
  }
  .tieude {
    a {
      text-decoration: none;
    }
    a:hover {
      color: #01819e;
    }
  }
  img {
    width: 150px;
    float: left;
    margin-right: 20px;
  }

  .small {
    border-top: @boder-top;
    padding-top: 20px;
    p{
      font-size: 13px;
    }
    .tieude{
      font-size: 16px;
    }
    img{
      width: 150px;
    }
  }
}

.date {
  padding: 5px 0;
  display: block;
  font-size: 13px;
  color: #b2b2b2;
}

.tieude {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  width: 950px;
  overflow: hidden;

  article {
    padding-top: 30px;
  }
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  border-bottom: @boder-bottom;
  padding: 10px 0;
}

.link {
  padding: 10px 0 10px 10px;
  display: block;
  background-color: #f5f5f5;

  a {
    text-decoration: none;
    color: #01819e;
  }

  span {
    font-size: 13px;
  }
}

.baner {
  padding-bottom: 20px;
}

.nhandinh {
  margin: 20px 105px;
}

//btn-add
a.btn{
  background-color: #21759B;
  background-image: linear-gradient(to bottom, #2A95C5, #21759B);
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset;
  border-color: #21759B #21759B #1E6A8D #21759B;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  padding: 4px 15px 7px 15px;
  margin: 2px 4px;
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}
a.btn:hover, a.btn:focus {
  background-color: #278AB7;
  background-image: linear-gradient(to bottom,#2E9FD2,#21759B);
  border-color: #1B607F;
  box-shadow: 0 1px 0 rgba(120,200,230,0.6) inset;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3)
}